.country__btn {
  position: relative;
  padding-right: 13px;
}

.country__btn::after {
  content: '';
  position: absolute;
  display: block;
  right: 0;
  width: 9px;
  height: 6px;
  top: 50%;
  transform: translateY(-50%);
  background: url('../img/arrow-down.svg') no-repeat center;
}


.country__wrapper {
  display: none;
  position: absolute;
  width: 184px;
  top: 40px;
  right: 0;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 16px 8px 16px 16px;

}

.country__wrapper_open {
  display: block;
}

.country__list {
  max-height: 98px;
}

.country__item {
  margin-bottom: 8px;
}

.country__item:last-child {
  margin-bottom: 0;
}

.country__choise {
  font-weight: 300;
  font-size: 14px;

}

.country__scrollbar {
  background-color: #ECECEC;
  border-radius: 2px;
}

.country__track {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  : 0;
  overflow: hidden;
  width: 4px;
}

@media (min-width: 1024px) {
  .country__list {
    max-height: 106px;
  }

  .country__choise {
    font-size: 16px;
  }
}