.goods {
  padding: 40px 0;
}

.goods__tagline {
  margin-bottom: 4px;
  text-align: center;
}

.goods__title {
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 29px;
  text-align: center;
}

.goods__helper {
  position: relative;
  overflow: initial;
  margin: 0 auto;
}

.goods__arrow {
  position: absolute;
  display: block;
  top: calc((290px /2) - 30px);
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-image: url('../img/arrow-left.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
}

.goods__arrow_prev {
  left: -10px;
}

.goods__arrow_next {
  right: -10px;
  transform: rotate(-180deg);
}

@media (min-width: 768px) {
  .goods__arrow {
    top: calc((340px /2) - 30px);
  }

  .goods__arrow_prev {
    left: 10px;
  }

  .goods__arrow_next {
    right: 10px;
  }
}

@media (min-width: 1024px) {
  .goods__helper {
    max-width: 764px;

  }

  .goods__arrow {
    width: 90px;
    height: 90px;
    top: calc((370px /2) - 45px);
  }

  .goods__arrow_prev {
    left: 2px;
  }

  .goods__arrow_next {
    right: 2px;
  }
}

@media (min-width: 1440px) {
  .goods__helper {
    max-width: 1158px;

  }

  .goods__arrow_prev {
    left: 18px;
  }

  .goods__arrow_next {
    right: 18px;
  }
}