.modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 99;
  padding: 15px;
  overflow-y: auto;
}

.modal_open {
  display: flex;
  background: #ccc;
  opacity: 0.95;
}

.modal__wrapper {
  margin: auto;
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 40px 15px;
}

.modal__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 31px;
  text-align: center;
  margin-bottom: 40px;
}

@media(min-width: 1024px) {
  .modal__wrapper {
    padding: 60px 40px 80px;
  }

  .modal__title {
    margin-bottom: 48px;
  }
}