.timer {
  display: flex;
  gap: 4px;
  justify-content: center;
}

.timer__item {
  flex: 0 0 80px;
  text-align: center;
}

.timer__unit {
  font-weight: 600;
  font-size: 26px;
  color: #FFFFFF;
  background-color: #A3B6C7;
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 4px;
}

.timer__unit-decription {
  font-weight: 300;
}

@media (min-width:1024px) {
  .timer {
    gap: 8px;
  }

  .timer__item {
    flex-basis: 120px;
  }

  .timer__unit {
    font-size: 40px;
    padding: 11px;
    margin-bottom: 8px;
  }

  .timer__unit-decription {
    font-size: 20px;
  }
}